#prodList {
  div {
    font-family: Raleway, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  h3 {
    font-size: 22px;
    padding-left: 85px;
    font-weight: lighter;
    color: #d7182a;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 12px;
  }

  .offerChoice {
    .radio {
      margin-right: 10px;
    }

    a {
      margin-left: 8px;
      font-weight: 800;
    }
  }

  #offer-content1-desktop{
    padding: 8px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 7px 6px 22px 0px rgba(125,121,125,1);
  }

  .section-header {
    font-weight: 900;
    letter-spacing: -0.03em;
    margin: 10px 0;
    padding-bottom: 10px;
    position: relative;
    clear: both;
    border-bottom: 2px solid #d7182a;

    &:before {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-left: 8px solid #d7182a;
      border-bottom: 13px solid transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 65px;
    }

    &:after {
      display: block;
      width: 65px;
      height: 26px;
      content: "Step 1";
      padding: 0 3px;
      color: #fff;
      text-align: center;
      letter-spacing: .8px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #d7182a;
      font-size: 18px;
    }
  }


}
